#currentCat {
	max-width:	251px;
	max-height: 201px;
	padding-left: 4px;
}
li
{
list-style-type: none;
float: left;
clear: left;
margin-right: 15em;
cursor:pointer;
}
#cat1, #cat2, #cat3, #cat4, #cat5 {
	float: left;
	/*clear: both;*/
	margin-right: 14em;
}
#container, #clickCount {
    margin:5px;
    width: 80%;
    padding-left: 13em;
}
#container > div {
    display:none;
}
.admin {
	float: left;
	clear: left;
	margin: 2em;
}
/*#container > div:first-child {
    display:block;
}*/
